body {
  background-color: lavender;
}

h1 {
  font-size: 3em;
  text-align: center;
}

h3 {
  font-size: 1.5em;
  text-align: center;
}

#images {
  background-color: bisque;
  width: max-content;
  margin: auto;
}

section img {
  width: 300px;
  margin: 50px;
}

img:hover {
  cursor: pointer;
}

div {
  background-color: gold;
  padding: 5px;
  width: max-content;
  text-align: center;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
}

div:hover {
  cursor: pointer;
}

#chart {
  height: 450px;
  width: 900px;
  margin: auto;
}